@charset "UTF-8";
/* CSS Document */

.header{
	margin: 10px 10px 0;
}
.header_{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
    height: auto;
    width: 20%;
}


.global-nav{
	width: 50%;
	text-align: center;
	padding: 1px 20px 0;
}

.global-nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.global-nav li{
	list-style: none;
	letter-spacing: 0.05em;
	
}
.global-nav a{
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	color: #333;
	position: relative;
  	display: inline-block;
	cursor: pointer;
  	transition: all 0.5s ease 0s;
}
.global-nav a:hover{
	color: #fff;
	transform: translateY(-0.1875em);
}
.global-nav__sns{
	display:inline;
}

.scroll-prevent {
  /*動き固定*/
  position: fixed;
  /*奥行きを管理*/
  z-index: -1;
  /*下2つで背景を元のサイズのまま表示することができる*/
  width: 100%;
  height: 100%;
}

/*-----------
Footer
------------*/

.footer{
	padding: 20px 0 0;
    text-align: center;
	background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
 
}

.footer_icon{
	color:#0c5ea4;
	background-color:#fff;
	width:40px;
	height:40px;
	line-height: 40px;
	border-radius:50%;
	margin: 0 10px;
	transition: .4s;
}
.footer_icon:hover{
	color:linear-gradient(90deg,#0c5ea4 20%,#0085b7);
	background-color:rgba(255,255,255,0.6);
	width:40px;
	height:40px;
	line-height: 40px;
	border-radius:50%;
}

.footer-menu li {
	display: inline;
}
.footer_info{
	font-family: 'Lato';
	padding: 20px 0 30px;
	color: #fff;
	letter-spacing: 0.06em;
}
.footer_info p:first-child{
	text-transform: uppercase;
	font-size:2rem;
	color: #fff;
	margin-bottom:15px;
	font-weight: bold;
}

.footer_info p:nth-child(2){
	margin-bottom: 7px;
	
	
}
/*-----------
/Footer
------------*/
/*Be a member*/
.member_section{
	position: relative;
	background-image:url("../Picture/parts/member__.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 450px;
	
}
.member_text{
	position: absolute;
    right: 0;
    left: 0;
	color:#ffffff;
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
}
.member_text h3{
	font-size:6rem;
	font-weight: bold;
	margin-bottom: 20px;
	letter-spacing: 0.05em;	
}
.member_text p{
	list-style-type: none;
	font-size:2rem;
    margin-bottom: 4%;
}
.member_section a{
	background-color:#fff ;
	font-size:2rem;
	border: 3px solid #fff;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 4px;
	transition: .4s;
	letter-spacing: 0.07em;	
}

.member_section a:hover {	
	background-color:#000 ;
	border-color: #000;
	color: #fff;
}

/*/Be a member*/



@media screen and (max-width:480px){
	
	.logo {
		width: 50%;
    	padding: 5px;
}
	
	
	/*  Navigation	*/

	.footer_icon_nv{
		color: #333;
    	font-size: 3
			rem;
    	line-height: 40px;
    	transition: .4s;
	}
	.header { 
		margin: 0;
		left: 0;
		top: 0;
		width: 100%;
		height: 40px;
	}
	.global-nav{	
	 	position: fixed;
	 	right: -320px;  /*これで隠れる */
	 	top: 0;
	 	width: 250px; /* スマホに収まるくらい */
	 	height: 100vh;
	 	padding-top: 40px;
	 	background-color: #fff;
	 	transition: all .6s;
	 	z-index: 200;
	 	overflow-y: auto; 
	}
	.hamburger {
	  position: absolute;
	  right: 0;
	  top: 0;
	  width: 40px; 
	  height: 40px; 
	  cursor: pointer;
	  z-index: 300;
	}
	.global-nav__list {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	 display: block;
	}
	.global-nav__item {
    font-size: 2.8rem;
	  padding: 0 10px 0 20px;
	  display: block;
	}
	.global-nav__item a {
	  display: block;
	  padding: 14px 0;
	  text-decoration: none;
	  color: #111;
	}
	.nav_sns{
		background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
	}
	.hamburger__line {
	  position: absolute;
	  left: 11px;
	  width: 18px;
	  height: 1px;
	  background-color: #111;
	  transition: all .6s;
	}
	.hamburger__line--1 {
	  top: 14px;
	}
	.hamburger__line--2 {
	  top: 20px;
	}
	.hamburger__line--3 {
	  top: 26px;
	}
	.black-bg {
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100vw;
	  height: 100vh;
	  z-index: 100;
	  background-color: #000;
	  opacity: 0;
	  visibility: hidden;
	  transition: all .6s;
	}
	
	/* 表示された時用のCSS */
	.nav-open .global-nav{
	  right: 0;
	}
	.nav-open .black-bg {
	  opacity: .8;
	  visibility: visible;
	}
	.nav-open .hamburger__line--1 {
	  transform: rotate(45deg);
	  top: 20px;
	}
	.nav-open .hamburger__line--2 {
	  width: 0;
	  left: 50%;
	}
	.nav-open .hamburger__line--3 {
	  transform: rotate(-45deg);
	  top: 20px;
	}
	.global-nav__sns{
		padding: 0 0 0 20px;
		display: block;
	
}
	.global-nav__sns li{
		min-width:0;
		padding: 0;
}	
	.global-nav ul {
		display:block;
		text-align: left;
}
	.global-nav__item a {
		display: block;
}
	.global-nav a:hover{
        background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		transform: translateY(-0.1875em);
}
	.sns_nav{
		display:inline-block;
	}
	
	/*  /Navigation	*/
	
	/*	メンバー募集	*/
	.member_section {
		position: relative;
		background-image: url(../Picture/parts/member__2.jpg);
		background-repeat: no-repeat;
		background-size:cover;
		height: 370px;
	}
	.member_section a {
    	font-size: 1.8rem;
}
	.membersection_text p {
    	text-align: left;
    	font-size: 0.87rem;
}
	.member_text {
		position: absolute;
		color: #ffffff;
		text-align: center;
	}
	.member_text h3 {
    	font-size: 3.6rem;
    	margin-bottom: 20px;
}
	.member_background{
		 height: 500px;
	}
	.member_text p {
        font-size: 1.5rem;
    	margin-bottom: 40px;
    	font-weight: 600;
    	opacity: 0.9;
}
	.footer_info p:first-child {
		font-size: 2rem;
		color: #fff;
		margin-bottom: 15px;
	}	
	.footer_info p:nth-child(2) {
		font-size: 1.3rem;
	}
	
}