@charset "UTF-8";
/* CSS Document */

html{
	font-size:62.5%;/*16px x 62.5%=10px	*/
}
body{
	color:#595757;
	font-size:1.6rem;
	font-family: 'Lato','Montserrat', sans-serif,'Noto Sans JP' ;
	overflow-x: hidden;
}


/*-----------
Utility
------------*/
img{
	max-width: 100%;
	height: auto;	
}

/*Javascript*/

.js-animation {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 1s;
}
.js-animation.is-show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.global-nav a:hover{
	color: #fff;
	transform: translateY(-0.1875em);
	background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
   	-webkit-background-clip: text;
   	-webkit-text-fill-color: transparent;
}
/*-----------
Utility
------------*/
.top{
	letter-spacing: 0.03em;
    padding: 180px 100px 100px;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.top p:nth-child(2) {
    font-size: 10rem;
    text-transform: uppercase;
    background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    margin: 20px 0 30px;
}
.top p:last-child{
	font-weight: 600;
	line-height: 2;
}
.top p:first-child{
	font-size: 2.5rem;
    opacity: 0.6;
	text-transform: uppercase;
	font-weight: 600;
}

.background p:first-child{	
	position:absolute;
	top:500px;
	font-size:30rem;
	color: #a7d6ff;
	text-transform: uppercase;
	font-weight: 900;
	writing-mode:vertical-rl;
	z-index: -1;
	opacity: 0.3;
	letter-spacing:0.1em;
}

.background p:nth-child(2){	
	position:absolute;
	top: 1100px;
	right:0px;
	font-size:30rem;
	color: #a7d6ff;
	text-transform: uppercase;
	font-weight: 900;
	writing-mode:vertical-rl;
	z-index: -1;
	opacity: 0.3;
	letter-spacing:0.1em;
}

h1{
	font-size:3rem;
	text-transform: uppercase;
	margin-bottom: 3vh;
	display: inline-block;	
}

h2{
	line-height: 2;
	font-size:1.5rem;
	font-family:'Montserrat';
	margin: 3vh 0 0;
}
h4{
	display: inline-block;
	font-size: 2.2rem;
    margin-bottom: 2.5vh;
	background: linear-gradient(transparent 75%, #a7d6ff 75%);
	
}
h2:nth-child(2){
	text-align: left;
	
}
h2:nth-child(4){
	text-align: left;
}
.text p{
	
}
.section{
	position: relative;
	margin: 1000px 100px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content:center;
	z-index: 1;
}
.section_first{
	position: relative;
	margin: 400px 100px 800px 100px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content:center;
	z-index: 1;
}
.section_last{
	position: relative;
	margin: 200px 100px 600px 100px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content:center;
	z-index: 1;
}


.text_1 {
	text-align: left;
	position:absolute;
	top:30%;
	left: 30%;
	z-index: 2;
	padding: 50px;
	width: 60%;
	margin: 0 30px;
	background-color:rgba(248,248,248,0.8);	
}
.text_2 {
	text-align: right;
	position:absolute;
	top:30%;
	right: 30%;
	z-index: 2;
	padding: 50px;
	width: 60%;
	margin: 0 30px;
	background-color:rgba(248,248,248,0.8);	
}
.pic_1{
	left: 0%;
	position: absolute;
	width: 50%;
	height: auto;
	z-index: 0;
}
.pic_2{
	right: 0%;
	position: absolute;
	width: 50%;
	height: auto;
	z-index: 0;
}
.pic_2sp{
	display: none;
}
.left{
	text-align: left;
}


@media screen and (max-width:480px){
	br{
    	display: none; 
	}
	h1{
		text-align: center;
		font-size: 2.2rem;
		display: block;
	}
	h2{
		font-size: 1.3rem;
	}
	h3{
		font-size: 1.7rem;
	}
	h4 {
    text-align: left;
    display: inline;
    font-size: 1.8rem;
    background: linear-gradient(90deg,#0c5ea4 20%,#0085b7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}
	.top{
		margin-top: 20%;
		padding: 0;
		width: 100%;	
	}
	.top p:first-child {
    	font-size: 2.3rem;
		margin-bottom: 15px;
}
	.top p:nth-child(2){
		font-size:5rem;
		font-weight: 600;
   		margin: 0 0 30px;
	}
	.top p:last-child {
		text-align: left;
    	padding: 0 8vw;
		font-weight: normal;
		line-height: 2;
		font-size: 1.3rem;
}
	.background p:first-child {
		font-size: 13rem;
		line-height: 0.8;
	}
		
	.background p:nth-child(2) {
		font-size: 13rem;
		line-height: 0.8;
		}
	.section {
		margin: 25px;
		display: block;
	}
	.section_first {
		margin: 25px;
		display: block;
	}
	.section_last {
		margin: 25px;
		display: block;
	}
	.text_1 {
		position: relative;
		font-size: 0.8em;
	    padding: 35px;
		left: 0;
		width: 80%;
		margin: 0;
		}
	.text_2 {
		position: relative;
		font-size: 0.8em;
	    padding: 35px;
		left: 0;
		width: 80%;
		margin: 0;
		}
	.pic_1{
		overflow: hidden;
		width: 100%;
		position: relative;
		left: -60px;
		margin-top: 90px;
}

	.pic_2{
		overflow: hidden;
		width: 100%;
		position: relative;
		right: -60px;
		margin-top: 90px;
	}
	.pic_2pc{
		
		display:none;
	}
	.text div{
		text-align: left;
	}
}

