@charset "UTF-8";
/* CSS Document */

html{
	font-size:62.5%;/*16px x 62.5%=10px	*/
}
body{
	color:#595757;
	font-size:1.6rem;
	font-family: 'Montserrat','Noto Sans JP' ;
	overflow-x: hidden;
}

/*-----------
Utility
------------*/

img{
	max-width: 100%;
	height: auto;
}

body{
	text-align: center;
	
}

/*-----------
/Utility
------------*/
/*-----------
Header
------------*/

.header{
	margin:20px 20px 15px;	
}

.logo{
	float:left;
	width: 300px;
	height: auto;
	top:-10px;
	right: 10px;
	position: relative;
	
}
.footer_sns_nav{
	display:none;
}
.global-nav{
	float:right;
	width: 50%;
	text-align: center;
}

.global-nav ul{
	margin-top: 20px ;
	text-align: justify;
	text-justify: distribute-all-lines;
}

.global-nav ul:after {
	content:"";
	display: inline-block;
	width: 100%;
	line-height:0;
	height: 0;
}
.global-nav li{
	list-style: none;
	display: inline-block;
	min-width: 90px;
	
}
.global-nav a{
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
	position: relative;
  	display: inline-block;
}

.global-nav a::after {
	position: absolute;
	bottom: -8px;
	left: 0;
	content: '';
	width: 100%;
	height: 2px;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.global-nav a:hover::after {
	bottom: -6px;
	opacity: 1;
	visibility: visible;
}


	

/*-----------
/Header
------------*/


/*-----------
 main
------------*/
.pics_top{
	z-index: -1;
	position: absolute;
	top:0;
}
.image{
    display: block;
    width: 100%;
}


.section{
/*	background-image:url("../Picture/parts/logo_gray.png");*/
	clear: both;
	width:50%;
	margin: 700px auto;
}
.pics{
	margin: 20px auto 50px;
	text-align: center;
	width: 600px;
	height: auto;
}
h1{
	font-size:3rem;
	margin-bottom: 	20px;
}
h2{
	font-size:2rem;
	margin-bottom: 	20px;
}
h3{
	text-align: left;
	font-weight:200;
	font-size:1.5rem;
	line-height: 2;
}


/*-----------
 /main
------------*/

